/* Start Variables */

/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
.container {
    width: 750px;
}
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global */
/* Start Components */
.special-head {
    color: #ebeced;
    font-size: 6.25em;
    font-weight: 800;
    margin: 0;
    text-align: center;
  }
  
  .special-head + p {
    color: #797979;
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
  }

  @media (max-width: 767px) {
    .special-head {
      font-size: 5em;
    }

    .special-head + p {
        margin-top: -22.5px
    }
  }
  /* End Components */
/* Start Header  */
.header {
    padding: 20px;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .links {
    position: relative;
}

.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .container .links:hover ul {
    display: block;
}
.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    position: absolute;
    right: 0;
}

.header .container .links .icon span {
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
}

.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.header .container .links ul {
    min-width: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    text-align: left;
    background-color: #f6f6f6;
    list-style: none;
    display: none;
    z-index: 1;
}

.header .container .links ul::before {
    content: "";
    border: 15px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -30px;
    right: 0px;
}

.header .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #693369;
}

.header .container .links ul li a{
    display: block;
    padding: 15px;
    font-size: 1em;
    color: #693369;
    text-decoration: none;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.header .container .links ul li a:hover {
    padding-left: 25px;
}
 /* end Header  */
 /* Start Landing Section */
.landing {
    background-image: url(../image/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    text-align: center;
}

.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .text h1 {
    margin: 0;
    font-size: 3.12em;
    font-weight: bold;
    color: #10cab7;
}

.landing .text p {
    font-size: 1.2em;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features section */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.features .container .feat {
    padding: 20px;
    text-align:center;
}

.features .container .feat i {
    color: #10cab7;
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    color: #777;
    line-height: 1.8;
}
/* End Features section */
/* Start Services Section */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-conten {
    margin-top: 100px;
    text-align: left;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services .services-conten .services-items {
    display: grid;
    grid-template-rows: auto 1fr;
} 

.services .services-conten .services-items i {
    grid-area: 1/ 1/ 1/ 2;
    margin-right: 15px;
    color: #10cab7;
}

.services .services-conten .services-items h3 {
    grid-area: 1/ 2/ 1/ 2;
    margin: 0 0 20px ;
    
}

.services .services-conten .services-items p {
    grid-area: 2/ 2/ 2/ 2;
    color: #444;
    line-height: 1.6;
}
/* End Services Section */